body {
	margin: 0;
	padding: 0;
	background: #2c3e50;
	font-family: sans-serif;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: #191919;
	text-align: center;
}

.login-box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.login-box label {
	display: block;
	color: white;
	margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 10px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
	width: 280px;
	border-color: #2ecc71;
}

.login-box button[type="submit"] {
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.login-box button[type="submit"]:hover {
	background: #2ecc71;
}

